.icon-wrapper {
    background-color: $color_2;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__before {
    margin-right: 8px;
}